head
    // Global site tag (gtag.js) - Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-125268496-3")
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-125268496-3');

    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="We provide marketing services to startups and small businesses to looking for a partner of their digital media")
    meta(name="keywords" content="Marketing, Optimization, SEO, Digital, Product, Managment , Analytics, Strategy, Research, lessons, Courses")

    title #{title}

    meta(property="og:title" content="Nanum")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://abdelrahman-nanum.netlify.com")
    meta(property="og:image" content="img/getting-started-768x535.jpg")
    meta(property="og:description" content="We provide marketing services to startups and small businesses to looking for a partner of their digital media")
    meta(property="og:site_name" content="abdelrahman-nanum")

    link(rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16")


    link(href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet")

    link(rel="stylesheet" href="css/all.min.css")
        

