nav
  padding: 60px 0
  .logo
    a
      font-family: "caros-bold", sans-serif
      font-size: 26px
      color: $primaryColor
  .navigation
    a
      font-family: "caros-webfont", sans-serif
      color: $primaryColor
      transition: all .2s ease-in-out
      &:hover
        color: $orangeColor
  .contact
    span
      font-family: "caros-webfont", sans-serif
      color: $secondaryColor
    .number
      font-weight: 600
      color: $orangeColor
    a
      font-family: "caros-bold", sans-serif
      background-color: #fff
      border-radius: 3px
      box-shadow: 0 5px 30px 0 #eff1f6
      color: $orangeColor
      padding: 17px 30px 17px 30px
      margin-left: 55px
      transition: all .2s ease-in-out
      &:hover
        background-color: $orangeColor
        color: #fff
      &:after
        font-size: 10px
        margin-left: 6px
