- var title = "Nanum – Nanum Premuim WordPress Theme"
doctype
html(lang="en")
    include pug/head
    body
        include pug/header
        // Start main
        main
            article
                section.getting-started
        // End main
        include pug/footer

        include pug/scripts